body {
  background: url('./IMG/photo1.jpg') no-repeat center center fixed; 
  background-size: cover;
}

button{
  width: 120px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-top: 3px ;
  margin-left: 10px;
  border: none;
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
  padding: 3px;
}


